html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Red Hat Display', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
root variables
*/
:root {
    --pale-blue: #e0e8ff;
    --bright-blue: #3829e0;

    --very-pale-blue: #f5f7ff;
    --desaturated-blue: #7280a7;
    --dark-blue: rgb(31, 47, 86);

}


/* 
media > max-width to MOBILE 
*/
@media screen and (max-width: 375px) {
	* {
		background: var(--bright-blue);
	}
    section.card { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        flex-direction: column; 
        margin-top: 100px;
        background-color: var(--very-pale-blue);
    }
}


/*
media > min-width to DESKTOP
*/
@media screen and (min-width: 376px) {
    body {
        background: var(--pale-blue) url('../images/pattern-background-desktop.svg') no-repeat center top;
        background-size: cover;
    }
    .card {
        width: 350px;
        padding: 0 50px;
        margin: 102px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        border-radius: 24px;
        overflow: hidden;
        box-shadow: rgba(62, 62, 187, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -30px;
    }
    .card-content { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 0 22px 0;
        text-align: center;
    } 
    .card-content h1 {
        margin: 50px 0 22px 0;
        font-size: 1.75rem;
        font-weight: 900;
    }
    .card-content p {
        line-height: 1.64rem;
        font-size: 1rem;
        margin-bottom: 20px;
        color: var(--desaturated-blue)
    }


    
    .annual-plan-box {
        width: calc(100% - 40px);
        margin: 0 0 36px 0;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--very-pale-blue);
        border-radius: 10px;
    }
    .annual-plan-box div {
        display: flex;
        flex-direction: row;
    }
    .annual-plan-box img {
        margin-right: 20px;
    }
    .annual-plan-box .annual-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .annual-plan-box h2 {
        font-weight: 900;
        font-size: 1rem;
        color: var(--dark-blue);
        margin: 5px 0 5px 0;
        display: flex;
        flex-direction: row;
    }
    .annual-plan-box p {
        color: var(--desaturated-blue);
        margin: 0;
    }
    .annual-plan-box a {
        color: var(--bright-blue);
        font-weight: 700;
        font-size: 0.9rem;
    }
    .annual-plan-box a:hover {
        opacity: 0.7;
        text-decoration: none;
    }

    .card a.proceed-to-payment {
        background-color: var(--bright-blue);
        width: 100%;
        padding: 17px 0;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-size: 0.9rem;
        margin-bottom: 35px;
        -webkit-box-shadow: 0px 30px 24px -20px rgba(57,41,224,0.8);
        -moz-box-shadow: 0px 30px 24px -20px rgba(57,41,224,0.8);
        box-shadow: 0px 30px 24px -20px rgba(57,41,224,0.8);
    }
    .card a.proceed-to-payment:hover {
        opacity: 0.7;
    }

    .card a.cancel-order {
        text-decoration: none;
        color: var(--desaturated-blue);
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 0.90rem;
    }
    .card a.cancel-order:hover {
        color: black;
    }

}